body {
  margin: 0;
	padding: 0;
  display: flex;
  flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e)
}
.image{
  text-align: center;
 position: relative;
 margin-bottom: 50px;
border:2px solid red;
border-radius: 30px;
}


code {
  font-family:'Jost', sans-serif;
}
